a.addclient {
  height: 32px;
  width: 32px;
}
a.addclient img {
  height: 32px;
  width: 32px;
}
a.addclient img:hover {
  height: 31px;
  width: 31px;
}

a.editclient img{
  height: 32px;
  width: 32px;
}

a.removeclient img {
  height: 32px;
  width: 32px;
  cursor: hand;
}
button.plus {
  cursor: hand;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#EBEBEB;
  border: 0;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #BBBBBB;
}
